@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.loginform {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 320px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
}

.inputgroup {
    position: relative;
    margin: 8px 0;
    width: 100%;
}

.inputgroup input {
    background-color: #eee;
    border: none;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.inputgroup label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #999;
    font-size: 13px;
    pointer-events: none;
    transition: 0.3s;
}

.inputgroup input:focus + label, .inputgroup input:valid + label {
    top: 0;
    font-size: 12px;
    color: #512da8;
}

.divcallforaction {
    margin-top: 20px;
}

.btnlogin {
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btnlogin:hover {
    background-color: #311b92;
}

.diverror {
    margin-top: 20px;
    text-align: center;
}

.errormessage {
    color: #f44336;
    font-size: 13px;
}

.lockscreen {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #512da8;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

.lblwait {
    color: #fff;
    margin-top: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
